.card-container {
    background-color: #444444;
    border-radius: 2%;
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form-label{
    color: whitesmoke;
    font-size: 1.5rem;
}
.form-heading{
    font-size: 4rem;
    color: #EDEDED;
}
.main {
    height: 100vh;
    width: 100%;
    background-color: #171717;
  
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.players {
    display: flex;
    height: 100%;
    width: 100%;
   
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.player-card {
    height: 20rem;
    width: 15rem;
    background-color: yellow;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bid{
  background-color: red;
}
